{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
  <p class="text-danger">Неверное имя пользователя или пароль. Попробуйте ещё раз.</p>
{% endif %}

<!--{% if next %}
  {% if user.is_authenticated %}
    <p>Ваш аккаунт не имеет доступа к этой странице. Чтобы продолжить,
    войдите в аккаунт, у которого есть этот доступ.</p>
  {% else %}
    <p>Войдите, чтобы увидеть эту страницу.</p>
  {% endif %}
{% endif %}-->

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td style="text-align: end">Имя пользователя: </td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td style="text-align: end">Пароль: </td>
  <td>{{ form.password }}</td>
</tr>

<tr>
  <td></td>
  <td><input type="submit" value="Войти" /></td>
</tr>

<tr>
  <td></td>
  <td><p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p></td>
</tr>
</table>


<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
