{% extends "base_generic.html" %}

{% block content %}
    <h1>Список авторов</h1>

    {% if author_list %}
    <table class="mt-4 h5 display-table">
        <tr class="text-secondary">
            <td>Имя</td>
            <td>Дата рождения</td>
            <td>Дата смерти <span class="h4">☠</span></td>
        </tr>
      {% for author in author_list %}
      <tr>
          <td><a href="{{ author.get_absolute_url }}">{{ author }}</a></td>
          <td>{{ author.date_of_birth }}</td>
          <td>{% if author.date_of_death %} {{ author.date_of_death }} {% else %} --- {% endif %}</td>
      </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>В библиотеке нет записей об авторах.</p>
    {% endif %}
{% endblock %}
