{% extends "base_generic.html" %}

{% block content %}
    <h1>Список книг</h1>

    {% if book_list %}
    <table class="mt-4 h5 display-table">
        <tr class="text-secondary">
            <td>Название</td>
            <td>Автор</td>
        </tr>
      {% for book in book_list %}
      <tr>
        <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
        <td>{{book.author}}</td>
      </tr>
      {% endfor %}

    </table>
    {% else %}
      <p class="h5">В библиотеке нет книг.</p>
    {% endif %}
{% endblock %}
